<!--
  Generated template for the DrivingSchoolsDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header no-border class="headerShadow">
  <ion-navbar hideBackButton="true">
    <ion-row id="schoolLogoRow">
      <div class="logoSchool">
          <img src="assets/icon/i-car-1.png" />
      </div>
    </ion-row>
    
    <div style="text-align:center">
      <p id="schoolName" *ngIf="pageNamePush === 'drivingSchools'"> مدرسة تعليم القياده</p> 
      <p id="schoolName" *ngIf="pageNamePush === 'importantPlacesMaintenance'">مركز صيانة رقم ١ </p>
      <p id="schoolName" *ngIf=" pageNamePush === 'importantPlacesGovernment'">مكان رقم ١ </p>
      <rating *ngIf="pageNamePush === 'drivingSchools' || pageNamePush === 'importantPlacesMaintenance'" class="ratingClass" no-padding no-mrgin [(ngModel)]="rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="saveUserRating($event)"></rating>      
      <p id="schoolCountry">المنطقة، المدينة</p>
    </div> 
  </ion-navbar>
      
   
</ion-header>

<ion-content padding>

    <ion-list *ngIf="pageNamePush === 'drivingSchools' || pageNamePush === 'importantPlacesMaintenance'">
       
      <ion-row id="iconRow" class="shadowAndRadius" >
          <ion-col>
              
              <ion-buttons class="iconContaine">
                  <button ion-button icon-only clear (click)="gotoMap()">
                    <custom-icon set="evil" name="map" ></custom-icon>
                  </button>
              </ion-buttons>
              الخريطه
            
          </ion-col>
          <ion-col >
              <ion-buttons class="iconContaine">
                  <button ion-button icon-only clear>
                    <custom-icon set="evil" name="call" ></custom-icon>
                  </button>
                </ion-buttons>
                إتصال
                
          </ion-col>
          <ion-col (click)="presentPopover()">
              <ion-buttons class="iconContaine">
                  <button ion-button icon-only clear>
                    <custom-icon set="evil" name="comment" ></custom-icon>
                  </button>
                </ion-buttons>
                إضافة تعليق
          </ion-col>
      </ion-row>

      <ion-row class="rowShadow" >
        <p>
            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة،
            <br>
             لقد تم توليد هذا النص من مولد النص العربى، 
             <br>
             حيث يمكنك أن تولد مثل هذا النص 
             <br>
             أو العديد من النصوص الأخرى 
             <br>
             إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.            
        </p>
      </ion-row>
    
      <h5 style="font-weight:bold">
        التعليقات
      </h5>

      <!-- comment row -->
      <ion-row class="rowShadow" >
        <div id="usernameDiv">
          <p id="userNameForComment">
            محمد القاسم
          </p>
          <rating class="ratingClass" no-padding no-mrgin [(ngModel)]="rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="saveUserRating($event)"></rating>            
        </div>
        
        <p>
            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخق.            
        </p>
      </ion-row >
      
    </ion-list>

    <!-- important Places Government view-->
    <ion-list *ngIf=" pageNamePush === 'importantPlacesGovernment'">
        <ion-row class="rowShadow" >
          <p>
              هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة،
              <br>
               لقد تم توليد هذا النص من مولد النص العربى، 
               <br>
               حيث يمكنك أن تولد مثل هذا النص 
               <br>
               أو العديد من النصوص الأخرى 
               <br>
               إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.            
          </p>
        </ion-row>
        <!-- map row -->
        <ion-row class="rowShadow" >
          <div id="mapDiv">
              <img src="assets/imgs/map.png">
          </div>
        </ion-row>

      </ion-list>

  </ion-content>
