<ion-tabs class="tabs-icon-text">
    <ion-tab customIconSet="evil" customIconName="home" tabTitle=" الرئيسية" [root]="tabOne"></ion-tab>
    <ion-tab customIconSet="evil" customIconName="icon1" tabTitle="مدارس تعليم" [root]="tabTwo"></ion-tab>
    <ion-tab customIconSet="evil" customIconName="icon2" tabTitle="تعليم" [root]="tabThree"></ion-tab>
    <ion-tab customIconSet="evil" customIconName="ads" tabTitle="إعلانات" [root]="tabFour"></ion-tab>
    <ion-tab customIconSet="evil" customIconName="icon4" tabTitle="أماكن تهمك"  [root]="tabFive"></ion-tab>
    <ion-tab customIconSet="evil" customIconName="icon3" tabTitle="شركات تأمين" [root]="tabSix"></ion-tab>

</ion-tabs>
