<!--
  Generated template for the SignUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border class="headerShadow">
    <ion-navbar>
      <ion-title>قيادتي</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="outer-content" >
  <form [formGroup]="registerForm"> 
    <ion-list >
        <ion-list-header no-lines>
            أدخل رقم هاتفك
            <h5 >لا تقلق، لن يتم عرضه علنا</h5>
        </ion-list-header>
        <ion-row no-lines>
          <ion-col no-lines>
            <ion-item no-lines>
                  <ion-input type="tel" placeholder="رقم الهاتف" [(ngModel)]="phoneNum" #phoneInput formControlName="phone"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item no-lines>
                <ion-input type="tel" autofocus placeholder="+699" [(ngModel)]="codeNum" #codeInput formControlName="code"></ion-input>            
            </ion-item>
          </ion-col>
        </ion-row>
        <p class="errorMsg" *ngIf="submitAttempt" style="color: #ea6153; text-align:center">Please insert valid number.</p>      
        <ion-row style="margin-top:48px">
            <button *ngIf="phoneNum == null || codeNum == null" ion-button block submit (click)="signup(code.value, phone.value)"  disabled >تحقق</button>
            <button *ngIf="phoneNum != null && codeNum != null" ion-button block submit (click)="signup(code.value, phone.value)"  >تحقق</button>            
        </ion-row>
    </ion-list>
  </form>
 <div id="recaptcha-container"></div>
</ion-content>
