page-details-ads {
    ion-icon{
        color:white
    }
    ion-header .toolbar-background {
        background-image: url('../assets/pattern.svg');
        background-repeat: repeat;
        background-size: 30px;
        background-color: #7E57C2;
        color: white;
    }
    ion-title{
        -webkit-text-fill-color:white
    }
    ion-header{
        height: 64px;
    }
    ion-navbar{
        height: 100%;
    }
    ion-grid{
        width:100%;
        height: 100%;
        margin-bottom: 30%;
    }
    
    #slideRow{
        height: 30%;
        background-color: transparent;
        margin-top:5%;
    }
    ion-slides{
        background-color: transparent;
    }
    ion-slide img{
        border-radius: 4px;
    }
    ion-slide{
        text-align: center

    }
    .swiper-slide {
        width: 87% !important;
          
      }
    .slide-zoom img{
        width:100% !important
    }
    #secondRow{
        margin: 16px;
        height: 25%;
        
        //border: 1px solid black;
        display: flex;
        justify-content: space-between

    }
    #secondRow ion-col{
        max-width: 47%;
        background-color: white
    }
    #mainDiv1, 
    #mainDiv2{
        width:100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .detailsTitleDiv{
        height: 37%;
        text-align: center;
        //padding: 10% 0;
        border-bottom: 1px solid rgba(214, 214, 214, .5);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    
    .typeSalleryDetailsDiv{
        height: 63%;
        text-align: center;
    }
    .name{
        font-size: medium;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 12%
    }
    .sallery{
        font-size: small;
        font-weight: normal;
        color: #879195 ;
        margin-top:3%
    }
    #thirdRow{
        margin: 0 16px 16px 16px;
        height: 40%;
        margin-bottom: 2%;
        background-color: white
    }

    #title{
        font-weight: bold;
        font-size: small;
        color: #37474F;
        margin: 1% 0 0 0;
    }
    .detailsRow{
        height: 35%;
    }
    .detailsRow ion-col{
        max-width: 50%;
      //  border:1px solid black;
        padding: 0 16px ;
    }
    .detailsRow ion-col ion-label{
        font-size: x-small;
        font-weight: normal;
        color: #8649a5
    }
    .detailsRow ion-col p{
        font-size: small;
        font-weight: normal;
        color: black;
        margin-top:0
    }
    ion-fab ion-icon{
        color:white
    }
    ion-fab[right] {
        right: 20px;
    }
  
}
