// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//to change the side of back arrow
/*
html[dir="rtl"] {
    .back-button-icon.icon-md.back-button-icon-md.ion-md-arrow-back {
        transform: rotate(180deg);
    }

    .back-button-icon.icon-ios.back-button-icon-ios.ion-ios-arrow-back {
        transform: rotate(180deg);
        padding: 0 5px;
    }
}
*/

custom-icon[large] {
   font-size: small;
}
// Background color and Pattern Img
.patternimgAndColor{
    background-image: url('../assets/pattern.svg');
    background-repeat: repeat;
    background-size: 30px;
    background-color: #7E57C2;
    color: white;
}


// Tabs background
.tabs .tabbar{
    background: #7E57C2;
    background-image: url('../assets/pattern.svg');
    background-repeat: repeat;
    background-size: 30px;
    color: white;
    border-top: 2px solid white
}
.tabs .tab-button, 
.tabs .tab-button-icon{
    color: white
}
.tabs .tab-button{
    border-left: 2px solid
}
    //Last child
.tabs .tab-button:nth-last-child(2) {
    border-left: transparent
}
.tabs .tab-button:hover:not(.disable-hover), .tabs .tab-button[aria-selected=true],
.tabs .tab-button[aria-selected=true] .tab-button-icon{
    color: white;
}
    //for hover tab
.enable-hover a:hover{
    opacity:inherit;
}
//side Menu 

ion-menu{
    ion-content{
     background-color: #7E57C2 !important;
     
    }
    .content{
        background-image: url('../assets/pattern.svg');
    background-repeat: repeat;
    background-size: 60px;
    }
    #logoIcon{
        font-size: 5.2em;
    }
}
#menuImgContainer{
    height: 100px;
    width: 65px;
    margin: 32px auto;
    //border: 1px solid black;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
#menuImgContainer div{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 2%

}
.menuBtn{
    width: 90%;
    margin: 0 auto 10px;
    height: 56px;
    color: #7E57C2
}
//popover 
 .popover-content {
    border-radius: 10px;
    width: 90%;
    min-width: 0;
    min-height: 0;
    //max-height: 90%;
    height: 292px;
    color: #000;
    background: #fff;
}
.popover-ios .item-ios,
.popover-md .item-md{
    padding-right: 0px
}
.popover-ios .popover-content,
.popover-md .popover-content{
    width: 90%;
    top: 197px;
    right: 5%;
    left: 5%;
    height: 56%
}

// Header
.headerShadow{
    box-shadow: 0 1px 4px 0 rgba(214,214,214,0.50);
    
}
ion-header{
    background-color: #fff
}
ion-title{
     font-size: medium;
     font-weight: bold; 
}
.toolbar-title{
    font-size: medium;
}
#title{
    text-align: center;
    font-size: medium;
    font-weight: bold;
}
.toolbar .segment-button{
    max-width: 150px;
    font-size: small;
}

.content{
    font-size: small;
    //font-family: myfont; 
    background-image: url('../assets/BG.svg');
}

ion-grid{
    height: 100%;
    color:#37474F;
    font-size: small;
    font-weight: bold;

}
//to make selection arrow in left side
.select .select-icon {
    position: absolute;
    width: 12px;
    height: 19px;
    left: 15px;
    top:13px;
}
.shadowAndRadius{
    border-radius: 4px;
    box-shadow: 0 1px 5px 0 rgba(104,104,104,0.50);
}
.mainFooterIconsDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

//for selection map in "important places page" and "driving schools page"
#mapSelectionRow{
    border:1px solid transparent; 
    border-radius: 4px;
}

#mapSelectionItem{
    font-weight: bold;
    color:#37474F;
    font-size: small;
}


.select{
    font-size: small;
    font-weight: bold;
}
ion-item ion-input{
    font-size: small;
    font-weight: bold;
}
input{
    text-align: right
}    


//profile details page & insurance dtails page
.logoSchool {
    width:80px;
    height: 80px;
    box-shadow: 0px 2px 4px 0px rgba(214, 214, 214, .5); 
    border-radius: 4px;       
    margin: 0px auto 0;
   // margin: 0 auto;
    background-color:#EC407A ;
}
.logoSchool img {
    margin: 31.2px 12.2px 31.8px 12.8px;
}
#schoolName{
    font-size: 2rem;
    margin: 16px 0 8px;
    color:white;
    font-weight: bold;
}

#schoolCountry {
    margin: 8px 0 21px 0;
    text-align: center;
    font-size: x-small;
    color: white;
    font-weight: bold;;
}
.rowShadow{
    box-shadow: 0px 1px 4px 0px rgba(214, 214, 214, .5); 
    border-radius: 4px; 
    background-color: white;
    margin-bottom: 16px;
}
.listSchools{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.listSchools #listSchoolDiv{
    width: 48%;
    height: 229px;
    margin: 0 0 5% 0;
    //background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid white;
}
#listSchoolDiv p{
    margin-bottom: 10px;
    font-size: small;
    font-weight: bold;
}
.listSchools #listSchoolDiv #imgDiv{
    height: 163px;
    background-color: transparent;
    display: flex;
    justify-content: center;
} 
#ratinrDiv{
    border-top:2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:100%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}

#usernameDiv{
    display: flex;
    flex-direction: row;
    margin-top: 11px;
    
}
#userNameForComment{
    color: #37474F;
    margin: 0;
    font-size: small;
    font-weight: bold;
}
ul {
    padding: 0px;
    margin: 0;
    &.rating li {
        padding: 0px 0px !important;
        background: lightgray;
        color: gold;
        ion-icon {
            color: gold
        }
    }
}

//for ads page and my-ads page 
#detailsMainDiv{
    height: 75px;
    width: 100%;
    font-weight: bold;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white ;
    text-align: center;
    border-top:1px solid white
}
#adsName{
    width:60%;
    height: 23px;
}
#adsName p{
    height: 20px;
    margin-top: 32px;
    margin-bottom: 26px;
}
#adsPriceMain{
    width:30%;
    display: flex;
    flex-direction: column;
    padding-top: 6%;
    padding-bottom: 6%;
}
#price{
    height: 50%;
    font-size: large;
    font-weight: bold;
}
#moneyName{
    height: 50%;
    margin-top: 2px;
    font-size: small;
    font-weight: normal;
    color: white;
}