page-important-places {
    ion-header{
        height: 107px;
    }
    ion-navbar{
        margin-top: 20px;
        
    }
    #listSchoolDiv{

        height: 194px;
    }
    ion-grid{
        height: 100%;
        font-weight: bold;
        color:#37474F;
    }
   
    .listRow{
        margin-top:16px;        
    }
  
    #ratinrDiv{
        height: 62px;
    }
   
}
